body {                
  background-color: #706e6e;                
}        

div {
  background-color: #f2eded;
  margin: 45px;
  padding: 45px;
  font-family: Georgia;
  font-size: 20px;
}

.header {
 /* background-color: blueviolet;*/
  /*margin: 50px;*/
  /*display: flex;*/
  
  
}

.body {
  margin-top: 20px;
}

img {
  margin: 20px;
  float: left;
}
