body {                
  background-color: gray;                
}        

div {
  background-color: tomato;
  margin: 50px;
  padding: 50px;
  font-family: Georgia;
  font-size: 25px;
}

.header {
 /* background-color: blueviolet;*/
  /*margin: 50px;*/
  display: flex;
  
  
}

.body {
  margin-top: 20px;
}
